<section class="container-fluid">
<div>



    <div class="modal-body">

      <form>

        <div class="form-group row">
          <label for="recipient" class="col-xs-3 col-form-label" >Recipient</label>
          <div class="col-xs-9">
            <input class="form-control form-control-sm"   type="text" id="recipient" name="recipient">
          </div>
        </div>


        <div class="form-group row">
          <label for="subject" class="col-xs-3 col-form-label">Subject</label>
          <div class="col-xs-9">
            <input class="form-control form-control-sm"   type="text" id="subject" name="subject">
          </div>
        </div>




        <div class="form-group row">
          <label for="message" class="col-xs-3 col-form-label">Message</label>
          <div class="col-xs-9">
            <textarea  class="form-control form-control-sm"   type="text" id="message" name="message" rows="4"></textarea>
          </div>
        </div>

      </form>
    <div class="modal-footer">
      <button type="button"class="btn btn-secondary btn-sm" (click)="onClickSubmit()">Send</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="onClickCancel()">Cancel</button>  
    </div>

    </div>

</div>
</section>