<base-nav></base-nav>
<div class="container-fluid">
    <br>
    <h4>Home</h4>
<img src="{{ userData.photo }}" alt="profile picture">
{{userData.id}}

<post-component
  [posts]   = " posts "
  (cancel)  = " editComponentOnCancel() "
  (success) = " editComponentOnSuccess() "
></post-component>



  <div class="container-fluid">
    <div >
      <div class="card"  *ngFor="let post of posts; let i = index">
        <div class="card-block">{{ post.user_id }}  date: {{ post.created }}
          <h4 class="card-title">{{ post.post }}</h4>
            <div  *ngIf="post.more">

            </div>            
            
              <button type="button" class="btn btn-secondary btn-sm" (click)=" post.more = ! post.more " >{{ post.more  ? 'Less' : 'More' }}</button> 
              <button class="btn btn-success btn-sm" (click)="onClickEdit( post, i )" *ngIf="userData.id == post.user_id">EDIT</button>
              <button class="btn btn-danger btn-sm" (click)="onClickDelete( post, i )" *ngIf="userData.id == post.user_id">DELETE</button>  
        </div>
      </div>
    </div>
  </div>


</div>