<base-nav></base-nav>
<section class="container-fluid">
    <br><br>
     <div class="form-group row">
      <div class="col-xs-4 col-md-2">
          <button class="btn btn-sm btn-primary" (click)="showMessageForm = ! showMessageForm"><i class="fa fa-pencil fa-xs" aria-hidden="true"></i> New Msg</button>
      </div>
      <div class="col-xs-5 col-md-9">
        <input class="form-control form-control-sm" type="text" id="search" name="search" placeholder="&#xF002; search" style="font-family: Arial, FontAwesome">
      </div>
      <div class="col-xs-3 col-md-1">
          <button class="btn btn-sm btn-primary" style="font-family: Arial, FontAwesome">&#xF002; Search</button>
      </div>
    </div>
    
    
<section  *ngIf="showMessageForm">
    <messageform-component
    (cancel)='onEmitCancel()'
    (send)='onEmitSend()'
    ></messageform-component>
</section>
          <ng-container *ngFor = "let message of messages">
            <div class="message" *ngIf = " message.idx ">
              
              <div class="title" (click)="onClickShowContent(message)">
               
                <div class="from">
                   <i *ngIf="message.stamp_open != '0'" class="fa fa-envelope-open-o" aria-hidden="true"></i> 
                   <i *ngIf="message.stamp_open == '0' " class="fa fa-envelope" aria-hidden="true"></i> 
                    {{ message.sender_id }}
                </div>
                <div class="subject" [attr.open]=" message.stamp_open ">
                    <span *ngIf="message.subject != 'undefined'" >{{ message.subject }}</span>
                </div>
                <div class="date">{{ message.created }}</div>
                <div  style="clear:right;"></div>
              </div>

              <div class="content" *ngIf="message['show_content']">
                <div *ngIf="message.content != 'undefined'"  class="message_content" [innerHTML]="message.message"></div>
                <div *ngIf="message.content == 'undefined'" class="message_content"></div>
                
                

                <div class="menu" >
                  <button class="hide menu-item" (click)="onClickHideContent(message)" >HIDE</button>
                  <button class="reply menu-item" (click)="onClickReply(message)">REPLY</button>
                  <button class="delete menu-item"  (click)="onClickDelete( message )">DELETE</button>
                </div>
                
              
              </div>
              <div *ngIf=" message['show_content'] && message.showReplyForm && !showCreateForm" class="create-form">
                  <label>Reply</label>
                  <textarea name="content" [(ngModel)]="form.content" placeholder="Content"></textarea>
                  <button class="btn btn-success btn-sm" (click)="onClickReplyFormSubmit(message)">Submit</button> 
                  <button class="btn btn-primary btn-sm" (click)="message.showReplyForm = false">Close</button>      
               </div>
            


            </div>
          </ng-container>
</section>